.wrapper {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;

    position: relative;
}
.wrapper::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.wrapper::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
