.wrapper {
    background: white;

    padding: 15px;
}
.img {
    margin-bottom: 14px;
    width: 100%;
}
.text {
    font-size: 14px;
    text-align: center;

    font-weight: 600;
    margin-bottom: 10px;
}
.price {
    text-align: right;
    font-weight: 700;
}